<h3>Customer Master</h3>
		<div class="grid10">
						<%= render :partial=>"form",:locals=>{:action=>@action, :customer => @customer, :type => @action == 'create' ? 'post' : 'put', :action_name => @action == 'create' ? 'Add' : 'Modify'}%>	

		</div>
		
		<br/><br><br><br>
	
		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Customer ID</th>
							<th>Customer Name </th>
							<th>Mobile Number</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<% s_no = 0%>
						<% Customer.all.each do |customer|%>
						<tr class="odd gradeX">
							<td><%= s_no += 1 %></td>
							<td><%= customer.id%></td>
							<td><a href=""><%= customer.name%></a></td>
							<td><%= customer.name%></td>
							<td><%= link_to 'Edit Customer', edit_master_customer_path(customer) %></td>
							<td><%= link_to 'Remove Customer', master_customer_destroy_cutomer_path(customer.id), :confirm => 'Are you sure?' %></td>
							
						</tr>
						<%end%>
					</tbody>
				</table>