
		<div class="grid10">
						<%= render :partial=>"form",:locals=>{:action=>@action, :client => @client, :type => @action == 'create' ? 'post' : 'put', :action_name => @action != 'create' ? 'Modify' : 'Add'}%>	

		</div>
		
		<br/><br><br><br>
				
		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Client ID</th>
							<th>Client Name</th>
							<th>Email</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<% s_no = 0%>
                       <% Client.all.each do |client|%>
					     <% s_no += 1%>
					     <tr class="odd gradeX">
					     	<td><%=s_no%></td>
					     	<td><%= client.clientid %></td>
					     	<td><%= client.name%></td>
							<td><%= client.address_details.first.email%></td>
							<td><%= link_to 'Edit User', edit_master_client_path(client) %></td>
							<td><%= link_to 'Remove User', master_client_destroy_client_path(client.id), :confirm => 'Are you sure?' %></td>
					     </tr>
						 
					   <% end %>
					</tbody>
		</table>
		<div id="example"><b><%= link_to 'Create New Client', new_master_client_path %></b> </div>
