

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<title>Client</title> 

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "js/jquery/jquery-1.5.2.min.js","js/jquery/jquery-ui-1.8.12.custom.min.js","js/misc/excanvas.min.js","js/jquery/facebox.js","js/jquery/jquery.visualize.js","js/jquery/jquery.dataTables.min.js","js/jquery/jquery.tablesorter.min.js","js/jquery/jquery.uniform.min.js", "js/jquery/jquery.placeholder.min.js" %>
  <%= javascript_include_tag "js/widgets.js","js/dashboard.js" %>
  <%= stylesheet_link_tag "comman"%>
  <%= stylesheet_link_tag  'css/layout' %>
  <%= stylesheet_link_tag    "css/ui-darkness/jquery-ui-1.8.12.custom.css","css/plugin/jquery.visualize.css","css/plugin/facebox.css","css/plugin/uniform.default.css","css/plugin/dataTables.css","css/custom.css" %>
  <%#= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 
 
<body> 

<div id="wrapper">
	
	<div id="top">
		
		<div class="content_pad">			
			<ul class="right">
				<li><a href="@" class="top_icon"><span class="ui-icon ui-icon-person"></span>Logged in as <b style="color:red"><%= User.find(session[:user_id]).name.titleize if session[:user_id]%></b></a></li>
				<li><a href="@">Settings</a></li>
				<li><%= link_to 'Logout',logout_user_index_path%></li>
			</ul>
		</div> 
		
	</div> 
	
	<div id="header">
		<div class="content_pad">
			<h1><a href="@">Logo</a></h1>
			
			<ul id="nav">
				<li class="nav_current nav_icon"><a href="@"><span class="ui-icon ui-icon-home"></span>Home</a></li>
				<li class="nav_dropdown nav_icon"><a href=""><span class="ui-icon ui-icon-gripsmall-diagonal-se"></span>Master</a>
				<div class="nav_menu">			
						<ul>
<<<<<<< HEAD
							<li><a href="">Catagory</a></li>	
							<li><%= link_to "Item", master_item_index_path%></a></li>	
=======
							<li><%= link_to 'Catagory',master_catagories_path %></li>	
							<li><a href="">Item</a></li>	
>>>>>>> 6a44409db4273455f8580451d22601f6dc91bd01
							<li><%= link_to "Customer",master_customer_index_path%></li>
							<li><%= link_to "Client",master_client_index_path%></li>							
							<li><a href="">Supplier</a></li>	
							<li><%= link_to 'Employee',master_employees_path %></li>						
							<li><a href=""></a></li>
						</ul>
				  </div>
				</li>
				
				<li class="nav_dropdown nav_icon"><a href=""><span class="ui-icon ui-icon-gear"></span>Billing</a>
				<div class="nav_menu">			
						<ul>
							<li><a href="">Sales Billing</a></li>	
							<li><a href="">Sales Print</a></li>
							<li><a href="">Service Billing</a></li>	
							<li><a href="">Service Print</a></li>
						</ul>
				  </div>
				</li>
				<li class="nav_dropdown nav_icon"><a href=""><span class="ui-icon ui-icon-gear"></span>Day Book</a>
				<div class="nav_menu">			
						<ul>
							<li><a href="">Payment</a></li>	
							<li><a href="">Receipt</a></li>
						</ul>
				  </div>
				</li>
				<li class="nav_icon"><a href=""><span class="ui-icon ui-icon-signal"></span>Reports</a></li>
				</div>
				
				</li>
			</ul>
		</div>
		
		
	</div> <!-- #header -->	
	

<div id="masthead">

</div>
	    
	<div id="content" class="grid" style="height: auto !important; min-height: 460px;">
		
		<% if flash[:error] -%>
 			<p class="validation"><%=h flash[:error] %></p>
		<% end -%>
		<% if flash[:notice] -%>
 		 <p class="success"><%=h flash[:notice] %></p>
		<% end -%>
	    <%= yield%>
	
	</div>
	
	<div id="footer">		
		<div class="content_pad">			
			<p><a href="">Company Name</a>. Powered by <a href="">Xplore</a>.</p>
		</div>
	</div> 
	
</div> 


<script>
	
$(document).ready ( function () 
{
	Dashboard.init ();			
		
	$('#datepicker').datepicker();
	
});

</script>

</body> 
 
</html>

